.basic-description h1, .basic-description h2, .basic-description h3, .basic-description h4, .basic-description h1 *, .basic-description h2 *, .basic-description h3 *, .basic-description h4 * {
    color: #000A1E;
    font-size: 40px !important;   
    margin: 30px 0 14px;
    font-family: oktaneue;
    font-weight: 600;
}
.basic-description table {
    width: 100% !important;
}
.basic-description p {
    color: #000A1E;
    font-size: 20px;   
    margin: 14px 0;
}

 .basic-description p:not(:has(img)) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.basic-description td {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}
.basic-description > table {
    margin: 100px 0;
}
 .basic-description td:first-child {
    padding-left: 0;
}
 .basic-description td:last-child {
    padding-right: 0;
}
 .basic-description td:last-child:has(img) {
    width: 40% !important;
    height: 440px;
}
 .basic-description td:first-child:has(img) {
    width: 40% !important;
    height: 440px;
}
.basic-description td img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    max-height: 440px;
}

.shp-tab-link {
    font-weight: 500 !important;
}

@media (max-width: 1920px){
 .basic-description td:last-child:has(img) {
    height: 30vw;
}
 .basic-description td:first-child:has(img) {
    height: 30vw;
}
.basic-description td img {
    max-height: 30vw;
}
}
@media (max-width: 1100px){
    .basic-description td img {
        position: relative;
        max-height: unset;
        padding: 0;
        width: auto;
        height: auto;
    }
    .basic-description td {
        width: 100% !important;
        display: block;
        height: auto !important;
        padding: 0;
    }
    .basic-description td:last-child:has(img) {
        width: 100% !important;
    }
    .basic-description td:first-child:has(img) {
        width: 100% !important;
    }
    .basic-description tr {
        display: block;
    }
    .basic-description tbody {
        display: block;
    }
    .basic-description tr {
        display: flex;
        flex-direction: column;
    }
    .basic-description td:last-child:has(img) {
        order: -1;
    }
    .basic-description td img {
        margin-bottom: 20px;
    }
}
