@media screen and (min-width: 768px) {
    .top-navigation-bar {
        background-color: #32D13F !important;
    }

    .top-navigation-bar-menu li:not(.cropped):last-child::after {
        content: none;
    }

    .top-navigation-bar a {
        color: #000A1E !important;
        font-weight: 500;
        padding: 10px 0 !important;
    }

    .top-navigation-bar a:hover {
        color: #000A1E !important;
    }


    .top-navigation-bar .top-navigation-bar-menu {
        text-align: center;
    }

    .top-navigation-menu {
        padding: 0 !important;
        width: 100%;
        flex-basis: 100%;
        min-width: 100%;
    }

    .top-navigation-contacts {
        display: none !important;
    }

    .top-navigation-tools {
        display: none !important;
    }

    .navigation-in>ul>li.ext>ul>li {
        padding: 0 !important;
        flex-basis: calc(33.333333% - 20px / 3) !important;
        width: calc(33.333333% - 20px / 3) !important;
        display: flex;
        align-items: stretch;
        background: white !important;
    }

    .navigation-in>ul>li.ext>ul>li>div>a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-image {
        padding: 5px !important;
        margin-right: 5px !important;
    }

    .menu-item-category {
        margin-top: 0 !important;
    }

    .menu-item-category a span {
        color: #0f0f0f !important;
    }

    .menu-item-category a {
        justify-content: center;
    }

    .navigation-in>ul>li.ext>ul>li.menu-item-category>div {
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }

    .navigation-in>ul>li.ext>ul>li.menu-item-category>a {
        display: none;
    }
}