body .add-to-cart-button, body .product-btn .btn {
    font-size: 14px !important;
    color: #000A1E;
    background: #CFCFE9 !important;
    border: none;
    text-align: center;
    font-weight: 600;
    justify-content: center !important;
    padding: 10px 17px !important;
    min-height: 35px;
    box-shadow: none;
    width: auto;
    letter-spacing: 0.02em;
    margin: 0 auto;
}
.add-to-cart-button:after, body .product-btn .btn:after {
    display: none;
}
body .add-to-cart-button:hover, body .product-btn .btn:hover {
    background: #32D13F !important;
     color: #000A1E !important;
}

.stars .star.is-active:hover {
    color: #32D13F !important;
}

body .flag.flag-discount:before {
    background: #32D13F;
    background-image: none;
    border-radius: 50%;
    color: #000A1E;
}
body .flag.flag-discount .price-save {
    color: #000A1E;
}
body .product .p {
    border-radius: 5px;
    box-shadow: none;
}
body .product .flag {
    padding: 7px 8px 6px !important;
    text-box-trim: trim-both !important;
}

body .products .price {
    display: flex;
    gap: 10px;
    font-family: oktaneue;
}
body .products .price strong:not(:first-child) {
    color: #32D13F !important;
}
body .products .price .price-standard {
    order: 1;
    font-family: oktaneue !important;
}
body .price-standard>span {
    font-size: 14px !important;
}
body {
    .products-block .p-bottom .p-desc {
        line-height: 1.4;
    }
}
body .products-block .p-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.external-fonts-loaded ol.cart-header, .external-fonts-loaded .next-step, .external-fonts-loaded .price-wrapper, .external-fonts-loaded .price-additional, .external-fonts-loaded .price-measure, .external-fonts-loaded .price-final, .external-fonts-loaded .price-save, .external-fonts-loaded .price-standard, .external-fonts-loaded .btn, .external-fonts-loaded .products .name {
    font-family: oktaneue !important;
}