body .add-to-cart-button, body .product-btn .btn {
    font-size: 14px !important;
    color: #000A1E;
    background: #CFCFE9 !important;
    border: none;
    text-align: center;
    font-weight: 600;
    justify-content: center !important;
    padding: 10px 17px !important;
    min-height: 35px;
    box-shadow: none;
    width: auto;
    letter-spacing: 0.02em;
    margin: 0 auto;
}
.add-to-cart-button:after, body .product-btn .btn:after {
    display: none;
}
body .add-to-cart-button:hover, body .product-btn .btn:hover {
    background: #32D13F !important;
     color: #000A1E !important;
}

body .flag.flag-discount:before {
    background: #32D13F;
    background-image: none;
    border-radius: 50%;
    color: #000A1E;
}
body .flag.flag-discount .price-save {
    color: #000A1E;
}