/*@import url("test.css");
@import url("detail-description.css");
@import url("homepage.css");
 @import url("navigation.css");
 @import url("product-card.css");
@import url("global.css");
@import url("footer.css");
@import url("image-banners.css");
@import url("contact.css");
@import url("section-text.css");
@import url("product-description.css");
@import url("category.css");
@import url("stats-banners.css"); */
